<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yummy Rummy</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="head">
		<h1> Yummy Rummy </h1>
		<h2> Pick a Card </h2>
	</div>
	<div class="content">
		<ul id="cards">
			<li><a href="/result"><img src="cupcake.png"></a></li>
			<li><a href="/result"><img src="coffee.png" alt=""></a></li>
			<li><a href="/result"><img src="valentine.jpg" alt=""></a></li>
			<li><a href="/result"><img src="marshmallow.png" alt=""></a></li>
		</ul>
	</div>
</body>
</html>